@using DealingAdmin.Abstractions
@using DealingAdmin.Abstractions.Models
@using DealingAdmin.Shared.Services
@using SimpleTrading.Abstraction.BidAsk

@inject IBidAskCache bidAskCache
@inject IPriceRetriever priceRetriever

<div style="font-family:courier">
    <div>Ask: @bidAsk?.Ask.ToString($"F{InstrumentDigits}")</div>
    <div>Bid: @bidAsk?.Bid.ToString($"F{InstrumentDigits}")</div>
    <div>Spread: @spread</div>
</div>

@code {
    [Parameter]
    public string InstrumentId { get; set; }

    [Parameter]
    public int InstrumentDigits { get; set; }


    private BidAskModel bidAsk { get; set; }
    private bool isUpdating = false;
    private int spread;

    protected override void OnInitialized()
    {
        var nowBidAsk = bidAskCache.Get(InstrumentId);

        if (nowBidAsk != null)
        {
            bidAsk = nowBidAsk.ToBidAskModel();
            spread = FxUtils.CalcSpread(bidAsk, InstrumentDigits);
        }
        else
        {
            bidAsk = null;
        }

        AppJobService.QuotesUpdateEvent += async () => await InvokeAsync(() => UpdateBidAsk());
        
        base.OnInitialized();
    } 

    private void UpdateBidAsk()
    {
        if (isUpdating)
        {
            return;
        }

        isUpdating = true;

        var currentBidAsk = priceRetriever.GetBidAsk(InstrumentId);

        if (currentBidAsk != null)
        {
            SetBidAsk(currentBidAsk);
        }

        isUpdating = false;      
    }

    public void SetBidAsk(BidAskModel bidAskNow)
    {
        bidAsk = bidAskNow;
        spread = FxUtils.CalcSpread(bidAsk, InstrumentDigits);
        this.StateHasChanged();
    }
}
