@inherits LayoutComponentBase
@using AntDesign

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>DealingAdmin</PageTitle>
<Layout>
    <Sider Class="site-sidebar" Collapsible Collapsed=@_sidebarCollapsed OnCollapse="OnCollapse"
            Style="overflow: auto;">
        <a class="logo" href="">
            @if (_sidebarCollapsed)
            {
                <Icon Type="home" Theme="outline" />
            }
            @($"{(_sidebarCollapsed ? "" : "Admin")}")
        </a>
        <LiveDemoSwitch />
        <hr>
        <Sidebar />
    </Sider>
    <Layout Class="site-layout" Style="@($"margin-left: {(_sidebarCollapsed ? "80px" : "200px")}; transition: 0.2s;")">
        <AntDesign.Content Class="site-content">
            @Body
        </AntDesign.Content>
    </Layout>
</Layout>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    void OnCollapse(bool isCollapsed)
    {
        _sidebarCollapsed = isCollapsed;
    }

    bool _sidebarCollapsed;

    void SidebarToggle()
    {
        _sidebarCollapsed = !_sidebarCollapsed;
    }
}

<style>
    .trigger {
        font-size: 22px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .trigger:hover {
        color: #1890ff;
    }

    .logo {
        font-weight: bold;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 50px;
        background: #002140;
    }

    .site-sidebar::-webkit-scrollbar-track {
        background-color: #001529 !important;
    }

    .site-sidebar::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }

    .site-sidebar:hover::-webkit-scrollbar-thumb {
        background-color: #2f414f !important;
    }

    .site-header {
        overflow: auto;
        padding: 0;
        z-index: 1;
        width: 100%;
        background: #f0f2f5;
        height: 50px;
        border-bottom: 1px solid #dee2e6;
    }

    .site-content {
        padding-left: 10px;
        background: white;
        min-height: calc(100vh - 40px);
    }

    .site-sidebar {
        height: calc(100vh - 48px);
        position: fixed;
        left: 0;
        z-index: 2;
    }
</style>
